*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #ccc;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.app>button{
    padding: 12px 24px;
    border-radius: 999px;
    border: none;
    outline: none;
    color: white;
    background-color: #333;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


/* .success-btn{
    background-color: #28a745;
}

.info-btn{
    background-color: #17a2b8;
}

.warning-btn{
    background-color: #ffc107;
}

.error-btn{
    background-color: #dc3545;
} */